@import index

.cta
    height: 100vh
    background-color: #fff
    .wrapper1
        height: 85%
        background-image: url("/assets/img/donate.jpg")
        background-size: cover
        background-position: center
        display: flex
        justify-content: center
        .text
            margin-top: 6em
            .title
                display: flex
                justify-content: center
                align-items: center
                font-size: 3em
                color: $white
            .subtitle
                display: flex
                justify-content: center
                align-items: center
                font-size: 1.4em
                color: $white
    .wrapper2
        display: flex
        align-items: center
        height: 15%
        padding: 0 3em
        .share-now
            width: fit-content
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            .title
                margin-bottom: 0.4em
                font-size: 1.2em
            .buttons
                background-color: #fff
                display: flex
                .button
                    display: flex
                    align-items: center
                    justify-content: center
                    padding: 0.6em
                    border-radius: 50%
                    background-color: $grey1
                    margin-right: 0.6em
                    .MuiSvgIcon-root
                        color: #9100FF
