@import index

.cta
    height: 100vh
    background-color: #fff

    .wrapper1
        height: 85%
        background-image: url("/assets/img/donate.jpg")
        background-size: cover
        background-position: center
        display: flex
        justify-content: center
        .text
            margin-top: 6em
            .title
                display: flex
                justify-content: center
                align-items: center
                font-size: 3em
                color: $cream
            .subtitle
                display: flex
                justify-content: center
                align-items: center
                font-size: 1.4em
                color: $cream
    .wrapper2
        display: flex
        align-items: center
        position: relative
        height: 15%
        padding: 0 3em
        width: 100%
        .heart
            z-index: 1000
            position: absolute
            bottom: 25em
            left: 0
            width: 100%
            margin: 0 auto
            display: flex
            align-items: flex-end
            justify-content: center
            .wrapper
                display: flex
                align-items: center
                justify-content: center
                transition: all 0.4s ease
                .text
                    margin-top: -0.5em
                    position: absolute
                    display: flex
                    z-index: 1000
                    align-items: center
                    justify-content: center
                    flex-direction: column
                    font-size: 2.6em
                    font-weight: 600
                    color: $cream
                    .line1
                    .line2
                img
                    transition: all 0.4s ease
                    width: 25em
                    &::after
                        content: ""
                        width: 100%
                        height: 100%
                        position: absolute
                        top: 0
                        background: inherit
                        filter: blur(20px)
                        z-index: -1
                &:hover
                    cursor: pointer
                    animation: heartBeat 2s infinite
                    img
                        -webkit-filter: drop-shadow(0px 0px 140px  #ec0d46)
                        filter: drop-shadow(0px 0px 140px  #ec0d46)
        .hand
            position: absolute
            left: 0
            bottom: 0
            width: 100%
            margin: 0 auto
            display: flex
            align-items: flex-end
            justify-content: center
            img
                width: 30em
        .share-now
            width: fit-content
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            .title
                margin-bottom: 0.4em
                font-size: 1.2em
            .buttons
                background-color: #fff
                display: flex
                .button
                    display: flex
                    align-items: center
                    justify-content: center
                    padding: 0.6em
                    border-radius: 50%
                    background-color: $grey1
                    margin-right: 0.6em
                    .MuiSvgIcon-root
                        color: #9100FF

//Heart animation

@keyframes heartBeat
    0%
        transform: scale(1)
    10%
        transform: scale(1.1)
    50%
        transform: scale(1)
    60%
        transform: scale(1.1)
    100%
        transform: scale(1)
