@import index

.donate-form
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: 99999
    display: grid
    place-items: center
    .overlay
        z-index: 100
        content: ""
        position: absolute
        width: 100%
        height: 100%
    .wrapper
        z-index: 101
        position: relative
        background-color: $cream
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: 80%
        width: 95%
        max-width: 30em
        max-height: 50em
        padding: 3em 2em 3em 2em
        border-radius: 0.2em
        border: 10px solid $brown
        box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px
        background-image: url("/assets/img/paper-texture3.png")
        .title
            font-family: 'merriweather', serif
            color: $brown
            text-align: center
            font-weight: 800
            font-size: 2.4em
            margin-bottom: 0.8em
        .form
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            width: 100%
            height: 100%
            .quantity
                display: flex
                align-items: center
                justify-content: center
                margin-bottom: 0.8em
                width: 100%
                color: $brown
                font-weight: 600
                font-size: 1.2em
                input
                    display: flex
                    align-items: center
                    justify-content: center
                    color: $brown
                    font-size: 1em
                    font-weight: 600
                    margin: 0 0.8em
                    max-width: 5em
                    padding: 0.4em 0.5em
                    text-align: center
                    border: none
                    border-radius: 0.8em
                    outline: none
                    background-color: $lightcream
                    box-shadow: rgba(17, 17, 26, 0.05) 0px 0px 16px
            .from-to
                display: flex
                input
                    font-size: 1em
                    width: 100%
                    margin-bottom: 0.8em
                    border: none
                    outline: none
                    background-color: $lightcream
                    padding: 0.75em 1.2em
                    border-radius: 0.8em
                    color: $brown
                    font-weight: 600
                    box-shadow: rgba(17, 17, 26, 0.05) 0px 0px 16px
                    &::placeholder
                        color: $brown
                        font-weight: 600
                        opacity: 0.8
                    &:first-child
                        margin-right: 0.8em
            textarea
                width: 100%
                height: 100%
                margin-bottom: 0.8em
                border: none
                outline: none
                background-color: $lightcream
                padding: 0.75em 1.2em
                font-size: 1em
                resize: none
                border-radius: 0.8em
                overflow-y: auto
                color: $brown
                font-weight: 600
                box-shadow: rgba(17, 17, 26, 0.05) 0px 0px 16px
                &::placeholder
                    color: $brown
                    font-weight: 600
                    opacity: 0.8
            .payment
                margin-top: 1.6em
                margin-bottom: 0.8em
                width: 100%
                .label
                    color: $brown
                    font-weight: 600
                    margin-bottom: 0.8em
                .selector
                    display: flex
                    align-items: center
                    justify-content: space-between
                    .item
                        transition: all 0.4s ease
                        border-radius: 0.8em
                        background-color: $lightcream
                        padding: 0.5em 2em
                        width: 100%
                        display: flex
                        align-items: center
                        justify-content: center
                        border: 3px solid $lightcream
                        box-shadow: rgba(17, 17, 26, 0.05) 0px 0px 16px
                        &:first-child
                            margin-right: 0.8em
                        img
                            height: 2em
                            @media screen and ( max-width: 400px )
                                height: 1.6em
                        &:hover
                            transform: scale(1.05)
                            cursor: pointer
                    .active
                        border: 3px solid $brown

            .subscription
                color: $brown
                font-weight: 600

            .button
                font-family: 'merriweather', serif
                width: 50%
                max-width: 10em
                color: $cream
                background: $brown
                display: flex
                align-items: center
                justify-content: center
                font-size: 1.2em
                padding: 0.75em 1.5em
                border-radius: 0.8em
                transition: all 0.4s ease
                margin-top: 1em
                &::after
                    content: ""
                    width: 100%
                    height: 100%
                    position: absolute
                    top: 0
                    background: inherit
                    filter: blur(10px)
                    z-index: -1
                    transition: all 0.4s ease
                    opacity: 0
                &:hover
                    transform: scale(1.1)
                    cursor: pointer
                    &::after
                        opacity: 1

        .close-icon
            color: $brown
            position: absolute
            top: 1em
            right: 1em
            transition: all 0.4s ease
            .MuiSvgIcon-root
                font-size: 2em
            &:hover
                transform: scale(1.1)
                cursor: pointer
