@import "index"

.faq
    min-height: 150vh
    padding-top: 10vh
    background-image: url("/assets/img/faqs3.png")
    background-size: cover
    background-position: bottom
    position: relative

    .faq-modal
        position: fixed
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        display: grid
        place-items: center
        z-index: 1000000
        &::before
            content: ""
            width: 100%
            height: 100%
            position: absolute
            background-color: rgba(0,0,0,0.5)

        .card
            background-color: $cream
            border: 1em solid $brown
            width: 90%
            max-width: 40em
            position: relative
            padding: 4em 2em
            z-index: 10000
            max-height: 50vh
            overflow-y: auto
            @media screen and ( max-width: 600px )
                padding: 1.5em
            .close-icon
                top: 0.75em
                right: 0.75em
                position: absolute
                transition: all 0.4s ease

                .MuiSvgIcon-root
                    font-size: 2em
                &:hover
                    transform: scale(1.1)
                    cursor: pointer

            .question
                font-size: 1.6em
                font-weight: 600
                margin-bottom: 0.8em
            .answer
                font-size: 1.2em
                line-height: 1.2em

            .divider
                opacity: 0.25
                margin-bottom: 0.8em
                width: 100%
                height: 2px
                background-color: $brown

    .title
        color: $cream
        font-size: 2.5em
        text-align: center
        margin-bottom: 50px
        line-height: 55px
        .question
            padding-right: 5vw
        .answer
            padding-left: 5vw

    .wrapper
        display: table
        margin: auto

    .faqs-wrapper
        width: 100%
        display: flex
        align-items: center

        justify-content: space-between
        flex-wrap: wrap
        padding: 2em 4em
        @media screen and ( max-width: 800px )
            padding: 1.5em
        .item
            background-color: $cream
            border-radius: 6em
            width: 48%
            max-width: 18em
            color: $color1
            margin-bottom: 1em
            display: flex
            align-items: center
            justify-content: center
            padding: 1em 1em
            font-size: 1.4em
            transition: all 0.4s ease
            text-align: center
            @media screen and ( max-width: 800px )
                max-width: none
                width: 100%
                font-size: 1.4em
            @media screen and ( max-width: 500px )
                font-size: 1.2em
            .question, .answer
                width: 25vw
                margin: auto
                margin-right: auto
                word-wrap: break-word
                padding-bottom: 1vh
                @media screen and ( max-width: 768px )
                    width: 90vw
            .questions
                font-weight: bold
                font-size: 20px
            .answers
                font-weight: lighter
            &:hover
                transform: scale(1.05)
                cursor: pointer
