@import "index"

.faq
    min-height: 130vh
    padding-top: 10vh
    background-image: url("/assets/img/faqs3.png")
    background-size: cover
    background-position: bottom
    position: relative
    z-index: 10

    .title
        color: $cream
        font-size: 2.5em
        text-align: center
        margin-bottom: 50px
        
        .question
            padding-right: 5vw
        .answer
            font-weight: lighter
            padding-left: 5vw

    .wrapper
        display: table
        margin: auto

    .faqs-wrapper
        width: 100%
        display: flex
        justify-content: space-between
        flex-wrap: wrap

        .item
            width: 50%
            color: $cream
            margin-bottom: 50px
            @media screen and ( max-width: 768px )
                width: 100%
            .question, .answer
                width: 25vw
                margin: auto
                margin-right: auto
                word-wrap: break-word
                @media screen and ( max-width: 768px )
                    width: 90vw
            .question
                font-weight: bold
                font-size: 20px
            .answer
                font-weight: lighter

    .indicator
        width: 100%
        text-align: center
        color: $cream
        display: flex
        align-items: center
        justify-content: center
        padding-bottom: 25px
        transform: scale(1.5)
        .arrow
            transition: all 0.2s ease-out
            margin: 0.5em
            display: flex
            align-items: center
            justify-content: center
            &:hover
                transform: scale(1.2)
                cursor: pointer

        .right
            transform: rotate(-45deg)
            -webkit-transform: rotate(-45deg)
        .left
            transform: rotate(135deg)
            -webkit-transform: rotate(135deg)
