@import index

.footer
    min-height: 30vh
    display: flex
    align-items: center
    justify-content: center
    z-index: 160000
    
    color: $cream
    background-color: $green
    .wrapper
        font-size: 1.2em
        width: 100%
        padding: 3em 4em 2em 4em
        height: 70%
        display: flex
        align-items: top
        justify-content: space-between
        .logo
            img
                width: 10em
                filter: grayscale(1) brightness(5)
        .links
            .link
                margin-bottom: 0.33em
        .divider
            width: 0.2em
            height: 6.5em
            border-radius: 5em
            background-color: $cream
        .video-by
        .website-by
    
    //Media queries
    @media screen and ( max-width: 1300px )
        .wrapper
            padding: 2em 3em

    @media screen and (max-width: 950px)
        .wrapper
            padding: 2em 1em


    @media screen and ( max-width: 768px )
        .wrapper
            display: flex
            flex-wrap: wrap
            .logo, .title
                border-bottom: 1px solid $cream