@import "index"

.impact
    min-height: 100vh
    padding-top: 10vh 
    background-image: url("/assets/img/fundaciones.jpg")
    background-size: cover
    background-position: bottom

    .title
        color: $cream
        font-size: 45px
        text-align: center
        margin-bottom: 50px
    
    .wrapper
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        .item
            width: 20%
            color: $cream
            @media screen and ( max-width: 768px )
                width: 80%
            .item-title
                text-align: center
                font-size: 25px
                margin-bottom:20px
            .item-paragraph
                text-align: center
                margin-bottom: 50px
            img
                display: block
                margin-left: auto
                margin-right: auto
                width: 124px
                height: 124px

    .footer
        width: 100vw
        overflow-y: hidden
        img
            position: absolute
            bottom: 55vh
            left: -8vw
            width: 120vw
            height: 80vh
            @media screen and ( max-width: 768px )
                height: 40vh
                bottom: 75vh
            @media screen and ( max-width: 360px )
                height: 25vh
                bottom: 87vh