//Colors
$color1: #000
$white: #ffffff

.app
    padding: 0 3em
    background-color: $color1
    width: 100vw
    height: 100vh
    overflow: hidden
    position: relative


// General Styles
*, *::before, *::after
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Manrope"

.remove
    display: none

.hide
    opacity: 0