// Fonts
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap')

//Colors
$color1: #000
$white: #ffffff

.app
    padding: 0 3em
    background-color: $color1
    width: 100vw
    height: 100vh
    overflow: hidden
    position: relative
    background-color: #181a29

.social-icons
    position: absolute
    z-index: 150000
    color: white
    display: flex
    bottom: 1.5em
    .icon
        margin-right: 0.4em
        transition: all 0.4s ease
        .MuiSvgIcon-root
            font-size: 1.8em
        &:hover
            transform: scale(1.1)
            cursor: pointer

// General Styles
*, *::before, *::after
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Bree Serif', serif

.remove
    display: none

.hide
    opacity: 0
