@import "index"

.menu
    position: fixed
    top: 0
    left: 0
    background-image: url("/assets/img/menu.jpg")
    background-size: cover
    background-position: center
    color: $cream
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    z-index: 9999
    min-height: 30em
    .menu-item
        display: flex
        text-align: center
        justify-content: center
        font-size: 6vw
        font-weight: 900
        transition: all 0.4s ease
        color: transparent
        -webkit-text-stroke: 1px white
        &:hover
            color: $cream
            transform: scale(1.1)
            cursor: pointer

    .active
        .menu-item
            color: $cream

    @media screen and ( max-width: 1000px )
        .menu-item
            font-size: 8vw
            -webkit-text-stroke: 0.5px white

    @media screen and ( max-width: 600px )
        .menu-item
            font-size: 13vw
            margin-bottom: 0.25em
