@import "index"

.press-modal
    .card
        background-color: $cream
        border: 1em solid $brown
        width: 90%
        max-width: 40em
        position: relative
        padding: 4em 2em
        z-index: 10000
        max-height: 80vh
        overflow-y: auto
        background-image: url("/assets/img/paper-texture2.png")
        box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px
        @media screen and ( max-width: 600px )
            padding: 2.5em 1.5em 1.5em 1.5em
            width: 95%
        .close-icon
            top: 0.75em
            right: 0.75em
            position: absolute
            transition: all 0.4s ease

            .MuiSvgIcon-root
                font-size: 2em
                color: $brown
            &:hover
                transform: scale(1.1)
                cursor: pointer
        .text
            span
                width: 100%
                display: block
                margin-bottom: 0.75em

.press
    height: fit-content
    position: relative
    background-color: $lightblue
    background: linear-gradient(0deg, $lightblue 0%, $lightblueC 100%)
    display: flex
    align-items: center
    justify-content: flex-start
    flex-direction: column
    z-index: 100
    .title
        margin-top: 30vw
        margin-bottom: -1em
        font-weight: 600
        color: $cream
        font-size: 2.5em
    .press-hearts
        width: 100%
        height: 25vw
        margin-top: 6em
        margin-bottom: 80vw
        display: flex
        align-items: center
        justify-content: center
        .press-heart
            height: 100%
            width: 30vw
            height: 28vw
            min-height: 15em
            min-width: 18em
            transition: all 0.4s ease
            position: relative
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            background-image: url("/assets/img/press-heart.png")
            background-size: cover
            background-position: center

            &:hover
                transform: scale(1.1)

            .title
                margin-top: 0
                width: 70%
                font-size: 1.2em
                color: $cream
                text-align: center
            .read-more
                color: $cream
                border: 2px solid $cream
                padding: 0.25em 1em
                border-radius: 2em
                transition: all 0.4s ease
                margin-top: 2em
                &:hover
                    background-color: $cream
                    color: $color1
                    transform: scale(1.05)
                    cursor: pointer
            &:nth-child(1)
                animation: floating-hearts 10s both infinite
            &:nth-child(2)
                animation: floating-hearts 8s both infinite
                margin-top: 10vw
            &:nth-child(3)
                animation: floating-hearts 9s both infinite
    .clouds
        display: flex
        width: 100%
        align-items: center
        justify-content: center
        margin-top: 0
        .cloud
            position: absolute
            img
                width: 60vw
            &:nth-child(1)
                left: -12em
                transform: rotateZ(10deg)
                animation: floating-cloud2 17s both infinite
            &:nth-child(2)
                animation: floating-cloud2 15s both infinite
            &:nth-child(3)
                right: -12em
                transform: rotateZ(-15deg)
                animation: floating-cloud2 22s both infinite

    .people
        width: 100%
        position: absolute
        display: flex
        align-items: flex-end
        bottom: 0
        z-index: 100
        img
            height: auto

            &:nth-child(1)
                width: 65%
                position: absolute
                height: auto
                @media screen and ( max-width: 600px )
                    width: 85%
            &:nth-child(2)
                position: absolute
                left: 28vw
                width: 24%
                @media screen and ( max-width: 600px )
                    width: 32%
                    left: 36vw
            &:nth-child(3)
                position: absolute
                right: 25vw
                width: 25%
                @media screen and ( max-width: 600px )
                    right: 0
                    width: 40%
            &:nth-child(4)
                width: 35%
                position: absolute
                right: 0
                @media screen and ( max-width: 600px )
                    width: 25%

    .background
        pointer-events: none
        display: flex
        position: absolute
        bottom: 0
        height: 60vw
        width: 100%
        background-image: url("/assets/img/press/bg.webp")
        background-attachment: top
        background-size: cover
        filter: blur(2.5px)
        transform: scale(1.1)
    //Media Queries
    @media screen and ( max-width: 1000px )
        .clouds
            .cloud
                img
                    width: 60vw

    @media screen and ( max-width: 800px )

        .clouds
            top: 2em

    @media screen and ( max-width: 500px )
        min-height: 40em

        .clouds
            top: 0em
            .cloud
                img
                    width: 70vw
                &:first-child
                    left: -6em
                &:last-child
                    right: -6em

@keyframes floating-hearts
    0%
        transform: translateY(0)
    50%
        transform: translateY(40px)
    100%
        transform: translateY(0)

@keyframes floating-cloud2
    0%
        transform: translateY(0)
        filter: brightness(1.4)
    50%
        transform: translateY(40px)
        filter: brightness(1)
    100%
        transform: translateY(0)
        filter: brightness(1.4)
