@import "index"

.press
    height: 150vw
    max-height: 100em
    position: relative
    background-color: $lightblue
    z-index: 100
    .clouds
        display: flex
        width: 100%
        align-items: center
        justify-content: center
        position: absolute
        top: 4em
        .cloud
            position: absolute
            img
                width: 60vw
            &:nth-child(1)
                left: -12em
                transform: rotateZ(10deg)
                animation: floating 17s both infinite
            &:nth-child(2)
                animation: floating 12s both infinite
            &:nth-child(3)
                right: -12em
                transform: rotateZ(-15deg)
                animation: floating 22s both infinite

    .people
        width: 100%
        position: absolute
        display: flex
        align-items: flex-end
        bottom: 0
        z-index: 100
        img
            height: auto

            &:nth-child(1)
                width: 50%
                position: absolute
                height: auto
                @media screen and ( max-width: 600px )
                    width: 70%
            &:nth-child(2)
                position: absolute
                left: 27vw
                width: 24%
                @media screen and ( max-width: 600px )
                    width: 35%
                    left: 36vw
            &:nth-child(3)
                position: absolute
                right: 25vw
                width: 25%
                @media screen and ( max-width: 600px )
                    right: 0
                    width: 40%
            &:nth-child(4)
                width: 35%
                position: absolute
                right: 0
                @media screen and ( max-width: 600px )
                    width: 25%

    .background
        display: flex
        position: absolute
        bottom: 0
        height: 60vw
        width: 100%
        background-image: url("/assets/img/press/bg.webp")
        background-attachment: top
        background-size: cover
        filter: blur(2.5px)
        transform: scale(1.1)
    //Media Queries
    @media screen and ( max-width: 1000px )
        .clouds
            .cloud
                img
                    width: 60vw

    @media screen and ( max-width: 800px )
        max-height: 50em
        .clouds
            top: 2em

    @media screen and ( max-width: 500px )
        .clouds
            .cloud
                img
                    width: 70vw
                &:first-child
                    left: -6em
                &:last-child
                    right: -6em

    @media screen and ( max-width: 500px )
        .clouds
            top: 0em

@keyframes floating
    0%
        transform: translateY(0)
        filter: brightness(1.4)
    50%
        transform: translateY(40px)
        filter: brightness(1)
    100%
        transform: translateY(0)
        filter: brightness(1.4)
