@import "index"

.press
    min-height: 150vh
    position: relative
    background-color: $lightblue
    z-index: 100
    .clouds
        display: flex
        width: 100%
        align-items: center
        justify-content: center
        position: absolute
        top: 4em
        .cloud
            position: absolute

            img
                width: 60vw
            &:nth-child(1)
                left: -12em
                transform: rotateZ(10deg)
                animation: floating 17s both infinite
            &:nth-child(2)
                animation: floating 12s both infinite
            &:nth-child(3)
                right: -12em
                transform: rotateZ(-15deg)
                animation: floating 22s both infinite

    .people
        position: absolute
        display: flex
        bottom: 0
        z-index: 100
        img
            width: 25vw
            height: auto
            &:nth-child(1)
            &:nth-child(2)
                margin-left: 1em
            &:nth-child(3)
            &:nth-child(4)
            &:nth-child(5)

    .background
        
        display: flex
        position: absolute
        bottom: 0
    //Media Queries
    @media screen and ( max-width: 1000px )
        .clouds
            .cloud
                img
                    width: 60vw

    @media screen and ( max-width: 800px )
        .clouds
            top: 4em

    @media screen and ( max-width: 500px )
        .clouds
            .cloud
                img
                    width: 60vw
                &:first-child
                    left: -6em
                &:last-child
                    right: -6em

    @media screen and ( max-width: 500px )
        .clouds
            top: 2em

@keyframes floating
    0%
        transform: translateY(0)
        filter: brightness(1.4)
    50%
        transform: translateY(50px)
        filter: brightness(1)
    100%
        transform: translateY(0)
        filter: brightness(1.4)
